{% extends "layout.html" %}

{% block mainContent %}
  <p><h1>Meet the team!</h1></p>
  <p><span id="proud partidge"><img id="proud partidge-headshot" src="http://www.rspb.org.uk/Images/redleggedpartridge_tcm9-18426.jpg" width="50"> Gordon "Proud Partidge" S.</span></p>
  <p><span id="aggressive walrus"><img id="aggressive walrus-headshot" src="http://upload.wikimedia.org/wikipedia/commons/c/ce/Noaa-walrus22.jpg" width="50"> Rebecca "Aggressive Walrus" B.</span></p>
  <p><span id="thankful spider"><img id="thankful spider-headshot" src="http://images.clipartpanda.com/spider-clipart-cute-halloween-spider.png" width="50"> David "Thankful Spider" E.</span></p>
  <p>Check out our <a href="https://docs.google.com/document/d/1-4kPt0sS4aJH93Jf6m7YEYKRWmuvChRE6tH1abspe_8/edit?usp=sharing">Project Status Report</a>, too!</p>
{% endblock %}
