<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="description" content="Sheri Scully's Mittens">
    <meta name="author" content="David, Gordon and Rebecca">
  </head>

	<body class="container">

    {% block header %}
      <header>
      <h1>{{ title }}</h1>
      <img src="/logo.png">
      </header>
    {% endblock %}

    {% block mainContent %}
      <section>Welcome to {{ title }}. {{tagline}}</section>
    {% endblock %}

    {% block footer %}
      <footer>
        <ul>
          <li><a href="/about">About Us</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/events/new">Create New Event</a></li>
        </ul>
      </footer>
    {% endblock %}

  </body>
</html>