<!DOCTYPE html>
<html>
  <head>
    <title>Sheri Scully's Mittens - {{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap/css/bootstrap.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="description" content="Sheri Scully's Mittens - {{title}}">
    <meta name="author" content="David, Gordon and Rebecca">
  </head>

	<body class="container">

    {% block header %}
      <header>
      <img src="/logo.png" id="logo">
      <h1>Sheri Scully's Mittens</h1>
      <h2>A poor woman's clone of Eventbrite.</h2>
      </header>
    {% endblock %}
    
    <div class="content-background">
     
        {% block mainContent %}
          <section>No content.</section>
        {% endblock %}
        
    </div>

    {% block footer %}
      <footer>
        <ul id="nav-ul">
          <li id="nav-li"><a href="/">Home</a></li>
          <li id="nav-li"><a href="/about">About</a></li>
          <li id="nav-li"><a href="/events">All Events</a></li>
          <li id="nav-li"><a href="/events/new" id="new">Create New Event</a></li>
        </ul>
        <script type="text/javascript" src="/analytics.js"></script>
      </footer>
    {% endblock %}

  </body>
</html>